.container
  max-width 1170px
  padding 0 16px
  position relative

.container--narrow
  max-width 960px

.smoke
  background-color: $smoke

.break
  width 35px
  height 2px
  margin-bottom 20px
  background-color $orange
