.container
  max-width 1170px
  padding 0 16px
  position relative

.container--narrow
  max-width 960px

.smoke
  background-color: $smoke

.break
  width 35px
  height 2px
  margin-bottom 20px
  background-color $orange

.btn
  color $white
  font-size 14px
  font-weight 600
  line-height 1.9em
  border-radius 50px
  background $orange
  text-decoration none
  letter-spacing 0.15em
  padding 18px 40px 12px
  text-transform uppercase
  font-family Gayathri, sans-serif

  &:hover
    outline 0
    background-color $copper 
