body
  font-family Barlow, sans-serif
  color #5d5c70
  font-size 15px
  line-height 1.9em

h1
  padding-top 20px
  margin-bottom 10px
  font-family Gayathri, sans-serif
  color #181733
  font-size 36px
  +breakpoint(mobile-landscape)
    font-size 40px
  +breakpoint(desktop-small)
    font-size 50px
  +breakpoint(desktop-up)
    font-size 55px
  line-height 1.1em
  font-weight 700

h2
  margin-bottom 10px
  font-family Gayathri, sans-serif
  color #181733
  padding-top 14px
  font-size 30px
  line-height: 1.2em
  +breakpoint(mobile-landscape)
    padding-top 20px
    font-size 34px
  +breakpoint(desktop-small)
    font-size 38px
  +breakpoint(desktop-up)
    font-size 42px
    line-height 1.4em
  font-weight 700

h3
  padding-top 22px
  margin-bottom 10px
  font-family Gayathri, sans-serif
  color #181733
  font-size 27px
  +breakpoint(mobile-landscape)
    padding-top 10px
    font-size 30px
  +breakpoint(desktop-small)
    font-size 32px
  +breakpoint(desktop-up)
    padding-top 22px
    font-size 36px
  line-height 1.3em
  font-weight 700

h4
  padding-top 10px
  margin-bottom 10px
  font-family Gayathri, sans-serif
  color #181733
  font-size 22px
  +breakpoint(mobile-landscape)
    font-size 24px
  +breakpoint(desktop-small)
    font-size 26px
  +breakpoint(desktop-up)
    font-size 30px
  line-height 1.3em
  font-weight 700

h5
  padding-top 10px
  margin-bottom 10px
  font-family Gayathri, sans-serif
  color #181733
  font-size 19px
  +breakpoint(mobile-landscape)
    font-size 20px
  +breakpoint(desktop-small)
    font-size 24px
  line-height 1.3em
  font-weight 700

h6
  padding-top 10px
  margin-bottom 10px
  font-family Gayathri, sans-serif
  color #181733
  font-size 17px
  +breakpoint(mobile-landscape)
    font-size 18px
  line-height 1.5em
  font-weight 700

p
  margin-bottom 15px
  font-family Barlow, sans-serif
  color #5d5c70
  font-size 15px
  line-height 1.9em
  font-weight 400

a
  font-family Barlow, sans-serif
  color #181733
  font-weight 600
  letter-spacing 0em
  text-decoration none
  text-transform none
