$bg-gray        =         #f5f6f9;
$font-gray      =         #e0e0e0;
$smoke          =         #f3f3f3;

$fb-blue        =         #3a579a;
$li-blue        =         #127bb6;
$reddit-red     =         #FF5700;
$wa-green       =         #25D366;
$yt-red         =         #e62117;

$beige          =  #FAF0CA;
$mainYellow     =  #F4D35E;
$mainBlue       =  #0D3B66;
$lightOrange    =  #EE964B;
$darkOrange     =  #F95738;
$white          =  #FFFFFF;