body {
  background-color: #fff;
  min-width: 320px;
}
.container {
  min-width: 320px;
  max-width: 1170px;
  position: relative;
}
.container--narrow {
  max-width: 960px;
}
.smoke {
  background-color: #f3f3f3;
}
@media (min-width: 768px) {
  .excerpt {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.break {
  width: 35px;
  height: 2px;
  margin-bottom: 20px;
  background-color: #f3a94b;
}
.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.9em;
  border-radius: 50px;
  background: #f3a94b;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding: 18px 40px 12px;
  text-transform: uppercase;
  font-family: Gayathri, sans-serif;
}
.btn:hover {
  outline: 0;
  background-color: #2b8979;
}
body {
  font-family: Barlow, sans-serif;
  color: #5d5c70;
  font-size: 15px;
  line-height: 1.9em;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Gayathri, sans-serif;
  color: #181733;
  font-size: 55px;
  line-height: 1.1em;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Gayathri, sans-serif;
  color: #181733;
  font-size: 42px;
  line-height: 1.4em;
  font-weight: 700;
}
h3 {
  margin-top: 22px;
  margin-bottom: 10px;
  font-family: Gayathri, sans-serif;
  color: #181733;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Gayathri, sans-serif;
  color: #181733;
  font-size: 30px;
  line-height: 1.3em;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Gayathri, sans-serif;
  color: #181733;
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Gayathri, sans-serif;
  color: #181733;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 700;
}
p {
  margin-bottom: 15px;
  font-family: Barlow, sans-serif;
  color: #5d5c70;
  font-size: 15px;
  line-height: 1.9em;
  font-weight: 400;
}
a {
  font-family: Barlow, sans-serif;
  color: #181733;
  font-weight: 600;
  letter-spacing: 0em;
  text-decoration: none;
  text-transform: none;
}
